<div id="app_container" class="{{configurations.theme | lowercase}}-theme">
    <ng2-toasty></ng2-toasty>
    <div class='container'>
        <nav-menu [isUserLoggedIn]="isUserLoggedIn" [userName]="userName"></nav-menu>

        <div id="pre-bootstrap" *ngIf="!removePrebootScreen" [class.prebootShow.app-component]="!isAppLoaded" class="app-component prebootStep">
            <div class="messaging">
                <h1>
                    Loaded!
                </h1>
                <p>
                    ANGULAR APPLICATION SYSTEM - <span class="appName" style="font-style:italic">angular</span><span class="appName">App</span> &copy; <a href="http://www.ebenmonney.com">WWW.EBENMONNEY.COM</a>
                </p>

            </div>
        </div>

        <div id="mainContent" class="app-component">
            <router-outlet></router-outlet>
        </div>

        <div id="footer">
            <div class="app-component navbar-fixed-bottom navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="app-component vcenter_text center-block">
                            <p class="text-center text-muted">
                                <span class="appName" style="font-style:italic">angular</span><span class="appName">App</span> &copy; {{getYear()}}
                                <a href="http://www.angular.com" target="_blank">angular.com</a>
                            </p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="shouldShowLoginModal" class="modal fade" bsModal #loginModal="bs-modal" (onShown)="onLoginModalShown()" (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()"
         [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <app-login #loginControl isModal="true"></app-login>
        </div>
    </div>
</div>